:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris_oscuro: #4d4b4b;
    --gris: #757575;
    --primario: #FFC107;
    --secundario: #0097A7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    font-size: 5rem;
    color: var(--oscuro) ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.titulo span {
    font-size: 2.3rem;
    color: var(--gris_oscuro);
}

a {
    font-size: 2.5rem;
}